<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
            <!-- <app-recipes *ngIf="feature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="feature !== 'recipe'"></app-shopping-list> -->
        </div>
    </div>
</div>